<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WEATHER</title>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Carter+One&family=Oleo+Script:wght@700&family=Poppins:wght@400;600;800&family=Roboto:wght@900&family=Special+Elite&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="othertab">
      <h2 id="pressuretitle">PRESSURE</h2>
      <h1 id="pressure">
        <%= (typeof CITYNAME != "undefined" ? PRESSURE : "") %>
      </h1>
    </div>

    <div id="weathertab">
      <form action="/" method="post" id="weatherform">
        <input
          type="text"
          name="cityname"
          placeholder="   GIVE THE CITYNAME"
          id="cityinput"
        />

        <button type="submit" class="css-button">
          <span>Check</span>
        </button>
      </form>
      <div class="citytitle">
        <h1 id="theh1">THE TEAMPERTAURE OF</h1>
        <h2>
          <i class="bi bi-geo-alt"></i> <%= (typeof CITYNAME != "undefined" ?
          CITYNAME : "") %>
        </h2>
      </div>
      <div class="temp">
        <h1><%= (typeof title != "undefined" ? title : "") %></h1>
        <h6>°C</h6>
      </div>
    </div>
    <div class="othertab">
      <h2 id="humiditytitle">HUMIDITY</h2>
      <h1 id="humidity">
        <%= (typeof HUMIDITY != "undefined" ? HUMIDITY : "") %>
      </h1>
    </div>
  </body>
</html>
